body{
	margin: 0;
	padding: 0;
}/*
body.headerbody{
	background-color :red;
	position: fixed;
    top: 0px;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
    
}
*/


.leftMenu{
    float: left;
    position: relative;
}
#selected{
    color: red;
    background-color: #9898ff;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #031c44;
}
::-webkit-scrollbar-thumb:hover {
    background: #133860;
}


/*----------teacherDashboard------------*/

.dashboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 21%;
    margin-bottom: 50px;
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-top: -3%;
}
.box1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    width: 700px;
    margin-right: 20px;
}
.box2{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
}
.teacherAttendance{
    margin-top: 10px;
    width: 48%;
    height: auto;
    box-shadow: 0 0 7px #9898ff;
}
.teacherFees{
    margin-top: 10px;
    width: 48%;
    height: auto;
    box-shadow: 0 0 7px #9898ff;
}
.teacherAttendance h2{
    padding-right: 5%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0 0 7px #9898ff;
    margin: 0;
    background-color: #ababff;
}
.teacherFees h2{
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0 0 7px #9898ff;
    margin: 0;
    background-color: #ababff;
}
.teacherAttendance td{
    padding: 5px;
}
.teacherFees td{
    padding: 5px;
}
.teacher-info{
    margin-top: 10%;
    width: auto;
    height: auto; 
    border-width: 0.2px;
    box-shadow: 0 0 10px #9898ff;
}
.teacher-info h2{
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0 0 7px #9898ff;
    margin: 0;
    background-color: #ababff;
    text-align: center;
}
.teacher-info td{
    width: 27%;
    padding: 2%;
    text-align: left;
}
.teacher-notice{
    margin-top: 7%;
    width: 260px;
    height: 350px;
    border-width: 0.2px;
    box-shadow: 0 0 10px #9898ff;   
}
.teacher-notice h2{
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0 0 7px #9898ff;
    margin: 0;
    background-color: #ababff;
    text-align: center;
}
.upside{
    padding-left: 10%;
    height: 270px;
 }
.teacher-class-routine{
    width: 700px;
    height: auto;
    margin-right: 20px; 
    border-width: 0.2px;
    margin-top: 10px;
    box-shadow: 0 0 10px #9898ff;
}
.teacher-class-routine h2{
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0 0 7px #9898ff;
    margin: 0;
    background-color: #ababff;
    text-align: center; 
}
.teacher-class-routine td{
    width: 12%;
    padding-bottom: 20px;
    text-align: center; 
}
.teacher-class-routine th{
    padding-bottom: 20px;
    text-align: center; 
}
#day-routine{
    text-align: center;
}
.box3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.teacher-calendar{
    width: 260px;
    margin-top: 10px;
    margin-left: 0px;
    box-shadow: 0 0 10px #9898ff;
}
.teacher-calendar td{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 16%;
    text-align: center;
}
.teacher-calendar h2{
    margin-top: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0 0 7px #9898ff;
    background-color: #ababff;
    text-align: center;
}
.teacher-holiday{
    width: 260px;
    height: 180px;
    margin-top: 10px;
    margin-left: 0;
    box-shadow: 0 0 10px #9898ff;   
}
.teacher-holiday h2{
    margin-top: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0 0 7px #9898ff;
    background-color: #ababff;
    text-align: center; 
}

/*--------------------------------------*/

div#logo{
	
}

div#name{    
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-right: 55%;
    color: black;
    margin:0;
}
body.main{
	background-color: #ffffff
}
.header{
    background-color: #f3f4fc;
	width: 100%;   /*changed the width*/
	height: 13vh;
}
div.navigation{
    list-style-type: none;
    margin: 0;
    margin-top: 1px;
    overflow: hidden;
    border-style: solid;     
    border-color: #000;
    border-width: 1px;
    background-color: #026eb9;
    padding-left: 45%;
    width: 54.5%;    /*changed the width*/
    height: 5vh;
    background-color: #6767ff;
}
div.leftmenu{
    list-style-type: none;
    margin: 0;
    margin-top: 1px;
    overflow: hidden;
    border-style: solid;     
    border-color: #000;
    border-width: 1px;
    background-color: #026eb9;
    padding-left: 45%;
}

div.footer{
	
}
