


/*--------teacherRegistration-------*/

body{
	padding: 0;
	margin: 0;
}
.teacher-reg{
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	width: 60%;
	height: auto;
	padding-bottom: 50px;
	border-color: #ababff;
	box-shadow: 0 0 7px #9898ff;
}
.inner-container-reg{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: auto;
	text-align: left;
}
.inner-container-reg label{
	text-align: left;
	color: #454545;
	font-weight: bolder;
}
.inner-container-reg input,.inner-container-reg textarea{
	width: 100%;
	height: 30px;
	font-size: 17px;
	padding-left: 5px;
	font-weight: 800;
	background-color: whitesmoke;
	border-width: 0.5px;
	border-style: solid;
}
.inner-container-reg input[type="radio"]{
	width: auto;
	height: auto;
}
.inner-container-reg textarea{
	height: auto;
}
.inner-container-reg input[type="submit"]{
	background-color: #9898ff;
	width: auto;
}
.inner-container-reg input[type="submit"]:hover{
	background-color: #ababff;
	cursor: pointer;
}
.teacher-reg h2{
	background-color: #9898ff;
	padding: 3px;
	box-shadow: 0 0 7px #9898ff;
}

/*---------------------------------*/

/*--------------batch--------------*/

.new_batch{
	width: 50%;
	padding-bottom: 2%;
	height: auto;
	margin-bottom: 10px;
}
.new_batch h2{
	padding: 3px;
	background-color: #ababff;
}
.new_batch select{
	width: auto;
	height: 30px;
	background-color: whitesmoke;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.new_batch input[type="submit"]{
	background-color: #9898ff;
	width: auto;
	border: none;
	padding: 2px;
	cursor: pointer;
	margin: 10px;
	height: 20px;
}
.new_batch table{
	align-content: center;
    box-shadow: 0 0 10px #9898ff;
    margin: 0;
    border-collapse: collapse;
    margin-bottom: 30px;
}
.new_batch td{
	text-align: center;
    width: auto;
    font-style: normal;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    border-width: 0.1px;
    border-color: #ababff;
}
.new_batch th{
	text-align: center;
    width: auto;
    font-style: normal;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    border-width: 0.1px;
    border-color: #ababff;
    background-color: #C5C5FF;
    margin: 0;
}

/*---------------------------------*/

/*------------modifyBatch----------*/

.modify_batch{
	width: 75%;
	padding-bottom: 2%;
	height: auto;
	margin-bottom: 10px;
	margin-top: 3%;	
}
.modify_batch table{
	align-content: center;
    box-shadow: 0 0 10px #9898ff;
    margin: 0;
    border-collapse: collapse;
    margin-bottom: 30px;
}
.modify_batch td{
	text-align: center;
    width: auto;
    font-style: normal;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    border-width: 0.1px;
    border-color: #ababff;
}
.modify_batch th{
	text-align: center;
    width: auto;
    font-style: normal;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    border-width: 0.1px;
    border-color: #ababff;
    background-color: #C5C5FF;
    margin: 0;
}
.modify_batch a{
    text-decoration: none;
    background-color: #ababff;
    padding: 3% 15%;
    color: black;
    border-radius: 4px;
}
.batch_modify_popup,.view_batch_popup{
	position: absolute;
	left: 400px;
	top: -100px;
	width: auto;
	height: auto;
	text-align: left;
	padding: 30px;
	background-color: #fefefe;
	border-color: #ababff;
	box-shadow: 0 0 10px #9898ff;
	transform-origin: 10px 10px;
	animation: jump 1.5s ease forwards;
}
@keyframes jump{
  0%{
    opacity: 0;
    transform: translatey(-100px);
  }
  70%{
    transform: translatey(300px);
  }
  100%{transform: translatey(290px);
       opacity: 1;}
}
.back_btn,.back_btn_batch{
	border: none;
	background-color: #9898ff;
	cursor: pointer;
}

/*---------------------------------*/

/*-------------viewBatch-----------*/

.viewBatch{
	width: 75%;
	padding-bottom: 2%;
	height: auto;
	margin-bottom: 10px;
	margin-top: 3%;	
}
.viewBatch table{
	align-content: center;
    box-shadow: 0 0 10px #9898ff;
    margin: 0;
    border-collapse: collapse;
    margin-bottom: 30px;
}
.viewBatch td{
	text-align: center;
    width: auto;
    font-style: normal;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    border-width: 0.1px;
    border-color: #ababff;
}
.viewBatch th{
	text-align: center;
    width: auto;
    font-style: normal;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    border-width: 0.1px;
    border-color: #ababff;
    background-color: #C5C5FF;
    margin: 0;
}
.viewBatch a{
    text-decoration: none;
    background-color: #ababff;
    padding: 3% 15%;
    color: black;
    border-radius: 4px;
}

/*---------------------------------*/

/*-----------createClass-----------*/

.createClass{

}
.createClass h2{

}
.createClass table{
	text-align: left;
}
.createClass input[type="number"]{
	background-color: whitesmoke;
	height: 30px;
	width: 100%;
	font-size: 20px;
	padding: 3px;
}
.createClass td{
	padding: 3px;
	text-align: left;
}
.createClass input[type='submit']{
	background-color: #9898ff;
	width: auto;
	border: none;
	cursor: pointer;
	margin: 10px;
	height: 20px;
}
/*---------------------------------*/